<%- include('../layouts/adminHeader'); -%>

<h2 class="page-title pt-3"> Add a product</h2>
<br />
<a href="/admin/products" class="btn btn-primary"> Back to All  products </a>
<br /> <br />
<form method="POST" action="/admin/products/add-prodcut" enctype="multipart/form-data" >
    <div class="form-group">
        <label for="">Title:</label>
        <input type="text" class="form-control"  name="title"  value="<%= title %>" placeholder="title" >
    </div>

    <div class="form-group">
        <label for="">Price:</label>
        <input type="text" class="form-control"  name="price"  value="<%= price %>" placeholder="price" >
    </div>

    <div class="form-group">
        <label for="">Image:</label>
        <input type="file" class="form-control"  name="image"  id="img" >
        <img src="#" id="imgPreview" alt="">
    </div>


    <div class="form-group">
        <label for="">Categorey:</label>
        <select name="categorey" class="form-control" id="">
            <% cats.forEach(cat => { %>
             <option value="<%= cat.slug %>"><%= cat.title %> </option>
            <% }) %>
        </select>
        
    </div>
  

    <div class="form-group">
        <label for="">Description:</label>
        
        <textarea id="ta" name="desc" class="form-control" placeholder="Give your Product a description" cols="30" rows="10"><%= desc %></textarea>
    </div>

    <button type="submit" class="btn btn-primary" > Submit </button>

</form>

<!-- Bootstrap core JavaScript Do Not Delete-->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

<!-- jquery core -->
<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  <!-- jquery ui -->

<script>
    function readUrl(){
        const input = document.querySelector('input[type=file]');
        if (input.files && input.files[0]) {
            var reader = new FileReader;
            reader.onload = () => {
                $('#imgPreview').attr('src', reader.result).width(100).height(100);
            }
        }

        reader.readAsDataURL(input.files[0]);
    }

    $('#img').change(()=>{
        readUrl();
    });

</script>




<%- include('../layouts/adminFooter'); -%>
